body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  --image_width: 300px;
  display: flex;
  flex-direction: row;
  margin: 0;
}


/* Wszystko poza headerem i spisem tresci */
#page_container{
    display: flex;
    justify-content: space-between;
}

/* Spis tresci */
#table_of_contents{

    width: 300px; 
    background-color: #f0f0f0; 
    padding: 20px;
    box-sizing: border-box;
}
#table_of_contents ol {
    padding-left: 20px;
    line-height: 0.9
     font-size: 15px;
}
/* Obrazek i atrybucja */
#image_outer {
    float: right;
    display: block;
    width: 100%;
    margin-left:200px;
}
#image_inner{
    display: block;
    width: var(--image_width);
    margin: 10px;
    float: right;
}
#image_inner img {
  display: block;
  border-radius: 8px;
  width: var(--image_width);
}
small {
    display: block;
    width: var(--image_width);
    margin: 0 auto;
    color: #424949;
    font-size: 10px;
    word-wrap: break-word;
    text-align: center;
}

#header{
    text-align: center;
    background-color: #0e6655;
    color: white;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 40px 0;
    position: relative;
}

/* Odcinki */
h2::before,
h2::after {
    display: block;
    content: "";
    flex: 1;
    height: 2px;
    background-color:  #45b39d ; 
    margin: 0 20px; 
}
/* Naglowki w content */
h3{
    margin: 0 10 0 0;
}

table {
    background-color: #eaecee;;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: none;
}
    th {
    background-color: #117a65;
    color: white;
    border-bottom: 1px solid lightgray;
    border: none;
    font-weight: 700;
    height: 40px;
}

/* Wiersze, kolumny*/
tr, td {
    border-bottom: 1px solid lightgray;
    padding: 8px;
    border: none;
}
tr:nth-child(even) {background-color:  white; ;}

#content, #taxonomy{
    margin: 0 10px 0 10px;
}

/* Linki do serwisów */
#social-bar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    background-color:  #2c3e50 ; 
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0 0 10px; 
}
/* Animacja */
.social-icon img {
    width: 30px; 
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover img {
    transform: scale(1.1); 
}

footer {
  width: 100%;
  height: 50px;
  background-color:  #abb2b9 ;
  color:  white ;
  margin: 0px;
  text-align: center;
}
#foot{
    padding-top: 10px;
    margin: 0px;
}
